<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/koala"
        android:label="@string/app_name"
        android:roundIcon="@drawable/koala"
        android:supportsRtl="true"
        android:theme="@style/Theme.HanGo"
        tools:targetApi="31">
        <activity
            android:name=".leccion2.BFinalActivity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B22Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B21Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B20Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B19Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B18Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B17Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B16Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B15Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B14Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B13Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B12Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B11Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B10Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B9Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B8Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B7Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B6Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B5Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B4Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B3Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B2Activity"
            android:exported="false" />
        <activity
            android:name=".leccion2.B1Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.RepasoActivity"
            android:exported="false" />
        <activity
            android:name=".leccion2.RepasoBActivity"
            android:exported="false" />
        <activity
            android:name=".leccion1.AFinalActivity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A20Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A19Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A18Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A17Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A16Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A15Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A14Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A13Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A12Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A11Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A10Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A9Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A8Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A7Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A6Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A5Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A4Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A3Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A2Activity"
            android:exported="false" />
        <activity
            android:name=".leccion1.A1Activity"
            android:exported="false" />
        <activity
            android:name=".UsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".AlfabetoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>